

<div class="wrapper">

  <div class="container-fluid">

  <div class="d-flex justify-content-around ">
    
      <div class="flex-column">

      
          <h1 class="">Rules</h1>
          

          <ngb-tabset [justify]= "justified">


              <ngb-tab title="Normal">
                <ng-template ngbTabContent>
                    <div class="scrollable">

        
                        <ul class="Rule">
                          <li *ngFor="let normal of normalRules"
                              [class.selected]="normal === selectedRule"
                              (click)="onSelect(normal)">
                          
                          <div  >
                            <h2 >{{normal.title}}</h2>
                            <div>{{normal.desc}}</div>
                          </div>
                
                          </li>
                        </ul>
                        </div>
                      
                </ng-template>
              </ngb-tab>

              <ngb-tab title="Power">
                  <ng-template ngbTabContent>
                      <div class="scrollable">
  
          
                          <ul class="Rule">
                            <li *ngFor="let power of powerRules"
                                [class.selected]="power === selectedRule"
                                (click)="onSelect(power)">
                            
                            <div  >
                              <h2 >{{power.title}}</h2>
                              <div>{{power.desc}}</div>
                            </div>
                  
                            </li>
                          </ul>
                          </div>
                        
                  </ng-template>
                </ngb-tab>

                <ngb-tab title="Cursed">
                    <ng-template ngbTabContent>
                        <div class="scrollable">
    
            
                            <ul class="Rule">
                              <li *ngFor="let cursed of cursedRules"
                                  [class.selected]="cursed === selectedRule"
                                  (click)="onSelect(cursed)">
                              
                              <div  >
                                <h2 >{{cursed.title}}</h2>
                                <div>{{cursed.desc}}</div>
                              </div>
                    
                              </li>
                            </ul>
                            </div>
                          
                    </ng-template>
                  </ngb-tab>

                  <ngb-tab title="Counter">
                      <ng-template ngbTabContent>
                          <div class="scrollable">
      
              
                              <ul class="Rule">
                                <li *ngFor="let counter of counterRules"
                                    [class.selected]="counter === selectedRule"
                                    (click)="onSelect(counter)">
                                
                                <div  >
                                  <h2 >{{counter.title}}</h2>
                                  <div>{{counter.desc}}</div>
                                </div>
                      
                                </li>
                              </ul>
                              </div>
                            
                      </ng-template>
                    </ngb-tab>

            </ngb-tabset>

      </div>


      
      <div class="flex-column">

        

          <h2>Edit</h2>

        <form> 

          <div class="form-group">
            <label for="editTitle">Edit title</label>
            <input [(ngModel)]="selectedRule.title" name="title" id="editTitle" class="form-control">
          </div>

          <div class="form-group">
            <label for="editDesc">Edit Description</label>
            <input [(ngModel)]="selectedRule.desc" name="desc" id="editDesc" class="form-control">  
          </div>


        </form>
          
        

          <h2 class="">Add new rule</h2>


          <!-- {{diagnostic}} -->
          
          <form (ngSubmit)="onSubmit()" #ruleForm="ngForm">
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" required [(ngModel)]="model.title" name="title">
              </div>
         
              <div class="form-group">
                <label for="desc">Description</label>
                <input type="text" class="form-control" id="description" [(ngModel)]="model.desc" name="description">
              </div>

              <div class="form-group">
                <label for="type">type</label>
                <select class="form-control" id="type" required [(ngModel)]="model.type" name="type">
                <option *ngFor="let type of types" [value]="type">{{type}}</option>
              </select>
              </div>
         
              <button class="new-rule" type="submit"><span>+</span></button>
              
         
            </form>

        </div>


        
      </div>
  </div>

  </div>