

@import '../../frameworkScss';

.navBar{
    background-color: black;
    
    display:flex;
    justify-content: space-between;
    margin: 0;
    padding:0;
    color: white;
}

.nav-bar-ul{

    display:flex;
    flex:1;
    margin:0;
    padding:0;
}

.nav-bar-li a{
    text-decoration: none;
    display:flex;
    align-items: center;
    color: white;
    padding: 0  2rem;
    height: 100%;
    text-decoration: none;
}



.nav-bar-li a:hover{
    background-color: $list-item-hover;
    color: black;
    font-weight: bold;
}

.nav-bar-logo img{
    height: 50px;
    width: auto;
}

.active-link{
    background-color: $list-item-selected;
    color: black;
    
}



