


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/main">

        <img src="/assets/MoonCake.svg" alt="" height="50px" width="50px">

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="navigation-bar-item ">
          <a class="navigation-bar-link" routerLink="/main">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="navigation-bar-item">
          <a class="navigation-bar-link" routerLink="/editRules">Edit</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
        <li class="navigation-bar-item">
          <a class="navigation-bar-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>


<!-- <div class="navBar">
    
  
  <ul class="nav-bar-ul">
      
    
    <li class="nav-bar-li"><a routerLink="/main" routerLinkActive="active-link">Game</a></li>
    <li class="nav-bar-li"><a routerLink="/editRules" routerLinkActive="active-link">Edit Rules</a></li>
    
  </ul>
  
  <div class="nav-bar-logo">

      <img src="/assets/MoonCake.svg" alt="" >
      
    </div>
  

  

</div> -->
