

@import '../../frameworkScss';


.navigation-bar-link{
    color: gray;
    padding: .5rem;
    text-decoration: none;
}

.navigation-bar-link:hover{
    color: white;
}

.navigation-bar-link:active{
    color: white;
}